<%- include ('../../partials/head.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

  <!-- Main Content -->
<main class="container text-center text-white py-5  ">
    <h1 class="display-4 fw-bold py-5">Adicione Categorias & crie artigos</h1>
    <!-- Formulário de Categoria -->
    <section class="mt-5">
        <h3 class="text-white mb-4">Adicionar Categoria</h3>
        <form class="row g-3 justify-content-center" method="POST" action="/categories/save">
            <div class="col-md-6">
                <!-- <label for="categoryName" class="form-label text-white">Nome da Categoria</label> -->
                <input type="text" class="form-control" name="title" id="categoryName" placeholder="Digite o nome da categoria" required>
            </div>
           
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary btn-lg me-3">+</button>
            </div>
        </form>
    </section>

   <!-- Mensagem de Sucesso -->
     <div id="successMessage" class="alert alert-success mt-4 text-center" role="alert">
        <i class="bi bi-check-circle"></i> Categoria cadastrada com sucesso!
    </div>

</main>


<script>
    // Exibe a mensagem de sucesso ao submeter o formulário
    document.getElementById("formCategoria").addEventListener("submit", function(event) {
        event.preventDefault(); // Impede o envio real do formulário

        // Exibe a mensagem de sucesso
        document.getElementById("successMessage").style.display = "block";
        
        // Limpa o formulário após o envio
        document.getElementById("formCategoria").reset();
    });
</script>

<%- include ('../../partials/footer.ejs') %>