<%- include ('../../partial/head.ejs') %>
<%- include ('../../partial/navbar.ejs') %>

  <!-- Main Content -->
<main class="container text-center text-white py-5">
    <h1 class="display-4 fw-bold py-5">Adicione Categoria & Imagem</h1>
    <!-- Formulário de Categoria -->
    <section class="mt-5 add-category-section">
        <h3 class="text-white mb-4">Adicionar Categoria</h3>
        <form id="formCategoria" class="row g-3 justify-content-center" method="POST" action="/categories/save" enctype="multipart/form-data">
            <div class="col-md-6">
                <input type="text" class="form-control" name="title" id="categoryName" placeholder="Digite o nome da categoria" required>
            </div>
            <div class="form-group  d-flex justify-content-center">
                <div class="d-flex flex-column align-items-center">
                    <label for="image" class="mb-2">Imagem:</label>
                    <input type="file" class="form-control" id="image" name="image" accept="image/*" style="max-width: 350px;">
                </div>
            </div>
            <div class="col-md-12 text-center mt-5">
                <button type="submit" class="btn btn-primary btn-lg me-3">adicionar</button>
            </div>
        </form>
    </section>
    
    

</main>



<%- include ('../../partial/footer.ejs') %>