/* Fundo animado */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #7289da, #99aab5, #4c4f53, #46484b);
    background-size: 300% 300%;
    animation: gradientMove 10s infinite ease-in-out;
    
    z-index: -1;
}


/* Animação de gradiente */
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Ajuste do texto */
h2, h1, p {
    margin-bottom: 1rem;
    color: #f1f1f1;
    
}


/* navbarHome */
.navbar.bg-transparent {
    background: linear-gradient(90deg, rgba(0,0,0,0.8), rgba(0,0,0,0.2));
    backdrop-filter: blur(5px); /* Para um efeito de desfoque */
    -webkit-backdrop-filter: blur(5px);
}

/* Adicionando fundo para a seção de categoria */
.add-category-section {
    background: linear-gradient(135deg, #1c1c1d65, #2574fc8c); /* Gradiente de fundo */
    padding: 40px 0;  /* Adicionando espaço interno */
    border-radius: 10px; /* Bordas arredondadas */
}



/* Estilo da tabela */
table {
    border-collapse: collapse;
    width: 100%;
    min-width: 600px; /* Largura mínima para evitar deformações */
    margin: 20px auto;
    /* background: rgba(255, 255, 255, 0.05); */
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    font-size: 1.1rem;
}

th, td {
    padding: 15px;
    text-align: center;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
}

th {
    background: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    text-transform: uppercase;
    
}

td {
    background: rgba(0, 0, 0, 0.5);
}

td:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

/* Linhas alternadas */
tr:nth-child(even) td {
    background: rgba(0, 0, 0, 0.4);
}

/* Hover nas linhas */
tr:hover td {
    background: rgba(255, 255, 255, 0.1);
    && a {
        color:#fff;
    }
}

a {
    text-decoration: none;
    color: #fff;
}


/* Contêiner responsivo */
.table-responsive {
    overflow-x: auto;
    margin-top: 20px;
    border-radius: 8px;
}

/* Botões de ações */
#actions button {
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#actions .btn-info {
    background: linear-gradient(45deg, #4caf50, #8bc34a);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#actions .btn-info:hover {
    background: #4caf50;
}

#actions .btn-warning {
    background: linear-gradient(45deg, #ffc107, #ff9800);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#actions .btn-warning:hover {
    background: #ff9800;
}

#actions .btn-danger {
    background: linear-gradient(45deg, #f44336, #e91e63);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#actions .btn-danger:hover {
    background: #e91e63;
}

/* Ícones dentro dos botões */
#actions i {
    margin-right: 5px;
    font-size: 1rem;
}


/* Ajuste da tabela */
.table-responsive {
    margin-top: 10px; /* Reduz a margem superior da tabela */
}

/* Estilos personalizados para o SweetAlert2 */
.swal-popup {
    background-color: #454c5386 !important;  
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 90vw; /* Garantir que o alerta seja responsivo */
}

.swal-title {
    color: #f8f9fa !important;  
    font-size: 1.6rem;         
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.swal-content {
    color: #f8f9fa !important;  
    font-size: 1.1rem;
}

.swal-confirm {
    background-color: #28a745 !important;  
    color: white !important;
    border-radius: 5px;
    font-weight: bold;
}

.swal-cancel {
    background-color: #dc3545 !important;  
    color: white !important;
    border-radius: 5px;
    font-weight: bold;
}

#swal2-html-container {
    color: #fff ;
}




  /* Fundo transparente com tom escuro para inputs e textarea */
  #articleTitle {
    background-color: rgba(44, 42, 42, 0.5);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

#articleTitle:focus {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgba(255, 255, 255, 0.5);
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#articleContent {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

#articleContent:focus {
    background-color: rgba(0, 0, 0, 0.356);
    border-color: rgba(255, 255, 255, 0.5);
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}



/* Estilização dos inputs e textarea */
.styled-input {
    background-color: rgba(44, 42, 42, 0.5);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    
}

.styled-input::placeholder {
    color: rgba(255, 255, 255, 0.932);
    font-style: italic;
}

.styled-input:focus {
    background-color: rgba(48, 45, 45, 0.384);
    border-color: rgba(255, 255, 255, 0.5);
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Estilização do botão */
.styled-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.styled-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.5);
    transform: scale(1.05);
}

/* Estilização do select */
select.styled-input {
    cursor: pointer;
}

/* Margens adicionais para alinhamento */
#formCategoria {
    margin-top: 30px;
}






/* Estilo do Slider */
.carousel-item img {
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

.carousel-caption h5 {
    font-size: 2rem;
    font-weight: 700;
}

/* Estilo das Postagens Recentes */
.card {
    border: none;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: 600;
}

/* Chamada para Ação */
.cta {
    background-color: #2c3e50;
}

.cta h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.cta p {
    font-size: 1.2rem;
}

.blockquote {
    margin: 2rem 0;
    padding: 1.5rem;
    background: #f8f9fa;
    border-left: 4px solid #007bff;
    font-style: italic;
}


article > .card{
    background-color: #1e1f1fb0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



footer {
    margin-top: 40px !important;
}




/* Estilo para telas pequenas */
@media screen and (max-width: 600px) {
    table {
        font-size: 0.9rem;
        min-width: 400px; /* Reduz largura mínima */
        
    }

    th, td {
        padding: 10px;
    }

    #actions button {
        padding: 8px 10px;
        font-size: 0.8rem;
    }
    input {
        max-width: 400px;
        margin: auto;
    }
}

  /* Responsividade */
@media (max-width: 576px) {
    .swal-popup {
        width: 80% !important;  /* Ajusta a largura do popup em dispositivos móveis */
    }

    .swal-title {
        font-size: 1.4rem;  /* Reduz o tamanho do título em telas pequenas */
    }

    .swal-content {
        font-size: 1rem;  /* Reduz o tamanho do texto em telas pequenas */
    }

    .card {
       margin: 30px 35px;
    }
}
